.floating-box-left {
    float: left;
    width: 40%;
    height: 50%;

}

.floating-box-right {
    float: left;
    width: 40%;
    height: 50%;
    margin-left: 10%;
}

.custom-select {
    padding: 5px;
}

table, th, td{
    border: 1px solid white;
    padding: 5px;
}

th{
    text-align: left;
    width: 200px;
}
thead{
    color: white;
    font-style: normal;
    background-color: #5bc0de;
}

tr:nth-child(even) {background-color: #f2f2f2;}