<div class = 'container'>
    <div class= "floating-box-left">
        <h1>About Me</h1>
        
        <h3>What I believe</h3>
        I believe movement is life.<br>
        I believe you can heal your body with functional movement patterns.<br>
        I believe it is never to late to create change in a body & it can happen fast.<br>
        I believe your body knows what it needs.<br>
        I believe every system in your body relies on a functional musculoskeletal system.<br>
        <br>
        All systems in the body work on movement:
        <br>
        <ul>
        <li>the heart beats</li>
        <li>the lungs breath</li>
        <li>the stomach grinds</li>
        <li>the colon transports</li>
        <li>the blood flows</li>
        <li>the nerves conduct</li>
        <li>the muscles contract</li>
        </ul>
        Dis-ease in the body begins when movement is impaired. Restore your proper design for movement and your pain will cease. No fancy machinery or magic pills required; your body already has everything it needs to heal.<br>
        <br>
        I believe you need to trust yourself.<br>
        I believe you need to take responsibility for your present state of health.<br>
        I believe you can become free of your pain.<br>
        <br>
        How would you like to understand how the body works, why you experience pain in the body and help lead you towards a more enjoyable pain free life?
        <br>
        Unfortunately, so many people simply don’t understand how the body works. This leaves them feeling helpless when it comes to treating the pain they experience in their body.
        <br>
        How would you like to live pain-free so that you can get back to doing what you love most?
        <br>
        As a physiotherapist for over three decades, I can help.
        <br>
        My name is Stephanie Marcotte & I have helped thousands of people free themselves from the pain and suffering caused by issues and imbalances with the musculoskeletal system.
        <br>
        Your musculoskeletal system is what allows you to move. When it is working properly, you not only move better, but you move without pain, too. But, when you have injured or strained this system, you experience pain.
        <br><br>
        <!--<ul> -->
        <!--<li>Muscle strains</li>-->
        <!--<li>Sprains</li>-->
        <!--<li>Fractures</li>-->
        <!--<li>Ligament injuries</li>-->
        <!--<li>Sports injuries</li>-->
        <!--<li>Acute pain</li>-->
        <!--<li>Chronic pain</li>-->
        <!--<li>Post-injury pain</li>-->
        <!--<li>Post-surgical pain</li>-->
        <!--</ul>-->
    </div>
    
    <div class = floating-box-right>
        <br>
        <div id="floated"><img src="../assets/images/stephmarcotte.png" class="img"></div>
        <br>

        <h3>Who am I?</h3>
        Stephanie Marcotte is a registered physiotherapist.  She is a graduate of the University of Toronto Physical Medicine program. 
        Stephanie has more than 25 years of clinical experience in musculoskeletal health.<br><br>
        
        Stephanie has completed numerous continuing education courses in advance manual therapy, movement and exercise therapies. 
        She has an integrative approach to assessment and treatment. She believes in helping people help themselves.<br><br>
        
        Stephanie has designed her practice so that she assesses and treats clients individually.  
        Her clients are not delegated to support staff.  Her approach is very dynamic and she has been a source of inspiration for many clients over the years.<br><br>
        
    </div>
        <br><br>
        <a [routerLink]="['/bookappointment']"><button style = 'width: 100%' class="btn btn-primary">Book an appointment</button> </a>
    </div>

