.floating-box-left {
    float: left;
    width: 50%;
    height: 50%;
    line-height: 1.6;
    margin-left:2%;
}

.floating-box-right {
    float: left;
    width: 40%;
    height: 50%;
    line-height: 1.6;
    margin-left:5%;
}

img {
    width:60%;
    height:60%;
}
