    <!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <p> <img src="../assets/images/SelfStartLogo.png" alt="SelfStartLogo" align="middle" style=""></p>
</header>

<head>
    <meta charset="utf-8" />
    <title>Semantic UI CDN</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>
                       
<div class="w3-container w3-padding-32" id="about" style="width: 80%; margin-left: 10%;">

    <carousel align="center" style="width: 75%;">
        <slide>
            <img src="../../assets/images/hockey.jpg" alt="First slide" style="display: block; width: 100%; height: 650px;">
        </slide>
        <slide>
            <img src="../../assets/images/hiking.jpg" alt="Second slide" style="display: block; width: 100%; height: 650px;">
        </slide>
        <slide>
            <img src="../../assets/images/football.jpg" alt="Third slide" style="display: block; width: 100%; height: 650px;">
        </slide>
        <slide>
            <img src="../../assets/images/Stability-Ball-Desk.jpg" alt="Fourth slide" style="display: block; width: 100%; height: 650px;">
        </slide>
    </carousel>

    <div align="center">
        <a [routerLink]="['/bookappointment']"><button class="fluid ui blue button">Book an appointment</button> </a>
    </div>

</div>

<div class="row" style="margin-left: 10%; margin-right: 10%;">
    <div class="col-md-4">
        <h3>About Marcotte Physiotherapy Clinic</h3>
        <p>
            At Marcotte Physiotherapy Clinic, you will experience a gradual re-awakening of your body’s need for movement. Your body was designed to move and move often.<br><br> Misuse, disuse, stress and trauma of the body passes unnoticed until we experience
            physical pain. Pain is the message the body uses to communicate with you. Pain gets you to ACT. No need to fear the pain, it is simply the messenger of dysfunction and/or malalignment in the body.<br><br> At my clinic, I want to help you understand
            the design of the body and how it functions. The physical symptoms you experience are the direct result of injury and/or postural dysfunction.<br><br> An injury does not mean you have to live in chronic pain. The body heals, it will move forward
            in life; you need to move beyond the fear and recapture the joy in life. Daily use of our body & mind in meaningful ways maintains both the structure and function of the body.<br><br> Successful treatment requries a commitment on your part,
            it means taking responsibility for your present state of health and taking the time to make positive changes in your lifestyle. My commitment to you is compassionate care.<br><br> The body is an amazing self healing organism. If you have the
            desire, I can show you the way to living pain free.<br><br> Your health is your wealth…..Let’s get started!
        </p>
    </div>

    <div class="col-md-4">
        <h3>What should I expect?</h3>
        <p>
            First, I will begin the assessment process with a fairly extensive interview about your history and current pain. I will observe you standing and walking in order to assess your current structural patterns. Specific objective tests are conducted to provide
            before and after benchmarks for range of motion, function, and to accurately focus on your personalized treatment program. This evaluation process provides more detailed information about myofascial restrictions in specific areas of your body.<br><br>            In order for me to assess you properly, please wear workout-type clothing. For woman, please wear/bring a tank top or sports bra and shorts. If you do not wear shorts, please bring a loose fitting pair of pants. For men; please wear/bring
            a t-shirt & shorts.
        </p>

    </div>

    <div class="col-md-4">
        <h3>What are the benefits?</h3>
        <p>
            • Chronic pain is reduced or disappears completely<br><br> • Improved range of motion and greater mobility<br><br> • Improved posture, better balance, and greater flexibility<br><br> • Increased energy and less stress<br><br> • A feeling of
            lightness and fluidity<br><br> • Improved performance in all physical activities<br><br> • Increased breathing capacity<br><br> • Increased mental clarity, greater alertness<br><br> • Release of stored physical and emotional trauma<br><br>            • Greater self confidence<br><br> • An improved ability to meet life’s challenges<br><br>
        </p>
    </div>
</div>

<footer>
    <p style="text-align:center">&copy; 2018 Brogrammers
        <p>
</footer>
